
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  src: local('Catamaran Light'), local('Catamaran-Light'), url(/assets/fonts/Catamaran/Catamaran-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url(/assets/fonts/Catamaran/Catamaran-bold.ttf) format('truetype');
}


// import font awesome fonts

@font-face {
  font-family: 'fontawesome';
  src: url('/assets/fonts/fontawesome/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/fontawesome/fontawesome-webfont.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/fontawesome/fontawesome-webfont.svg') format('svg'); /* Legacy iOS */
}


.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 { font-family: $base-font-family; font-weight: $base-font-weight !important; }
.h1, .h2 { line-height: 1.1; }
.h3, .h4 { line-height: 1.3; }
.h1 { font-size: 400%; letter-spacing: -2px; }
.h2 { font-size: 250%; letter-spacing: -1px; }
.h3 { font-size: 200%; }
.h4 { font-size: 180%; }
.h5 { font-size: 130%; }

.no-spacing {
  margin:0;
  padding:0;
  line-height: inherit;
}

.italic { font-style: italic; }
.bold   { font-weight: 700; }

.block-margins { margin: 1em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }