

//===== Colours

$black: #000;
$white: #fff;
$grey: #f1f2f4;
$dark-grey: #d7d9dd;
$mine-shaft: #636363;

//===== Fonts

$base-font-family: 'Catamaran', sans-serif;
$base-font-size: 14px;
$base-font-weight: 300;

h1, .h1 {
  font-family: $base-font-family;
}