.controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: $white;
    &__inner {
        position: relative;
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: -webkit-flex;
        display: flex;
    }

    &__buttons {
        -webkit-flex: 1;
        flex: 1;
        position: relative;
        padding: 11px 0 0 0;
        border-right: 1px solid rgba(#2C2C2C, 0.1);
        > .btn--prev {
            position: absolute;
            left: 20px;
        }
        > .btn--next {
            position: absolute;
            right: 20px;
        }
        > .btn--play-pause {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    // Options
    &__options {
        position: relative;
        width: 85px;
        padding: 12px 20px 0;
        border-left: 1px solid rgba(#2C2C2C, 0.1);
        > .btn--controls {
            padding: 0 20px;
        }
        > .btn--controls:first-child {
            padding: 0;
        }
        > .btn--controls:last-child {
            padding-right: 0;
        }
    }
}