.details {
    display: flex;
    align-items: center;
    width: 350px;
    height: 140px;
    margin:0 20px;
    &__artwork {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    &__info {
        width:290px;
        padding:20px;
    }
}