.progress {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-flex: 1;
    flex: 10;

    &__bar {
        position: relative;
        width: 90%;
        padding: 20px 0;
        margin: 0 auto;
    }
    &__inner {
        height: 2px;
        border-radius: 50px;
        margin-top: 3px;
        background: rgba($black, 0.2);
    }
    &__elapsed {
        height: 100%;
        background: $black;
    }
    &__pointer {
        position: absolute;
        left: 0;
        width: 12px;
        height: 12px;
        background: #3a424e;
        transform: translateY(-50%);
        border-radius: 50%;
        //&:before {
        //    content: '';
        //    height: 10px;
        //    background: $white;
        //    position: absolute;
        //    top: 50%;
        //    left: 50%;
        //    margin-top: -5px;
        //    margin-left: -5px;
        //    border-radius: 10px;
        //}
    }

}