.visualiser {
    position: relative;
    width:100%;
    &__wave {
        padding: 20px;
        height:50px;
    }
    &__loader {
        position: absolute;
        bottom:40px;
        left:50%;
        transform: translateX(-50%);
        &.hide {
            display: none;
        }
    }
}