.sonos {
  position: absolute;
  right: 0;
  bottom: 0;
  background: $grey;
  border-left: 1px solid $dark-grey;
  border-top: 1px solid $dark-grey;
  width: 50%;
  min-height: 60px;
  z-index: 3;
  display: flex;
  flex-direction:         row;
  align-items: center;
  justify-content: center;
  &__controls {
    min-height: 10px;
    flex: 1;
    border-right: 1px solid $dark-grey;
    a {
      padding:5px 15px;
      cursor: pointer;
      &:first-child {
        margin-left: 20px;
      }
    }
  }
  &__info {
    min-height: 10px;
    flex: 7;
  }
}