.panel {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  padding-top: 10px;
  padding-left: 260px;
  background: $white;
  z-index: 1;
  border-top: 1px solid $dark-grey;
  overflow-y: scroll;
}