.result {
  position: relative;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid $dark-grey;
  cursor: pointer;
  transition: background 250ms ease-in-out;
  &:hover {
    background: $grey;
  }

  &__artwork {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  &__info {
    float: left;
    display: inline-block;
    padding: 15px 0 0 0;
  }
}