.header {
  width: 100%;
  height:60px;
  background: $white;

  &__inner {
    display: flex;
    height: 100%;
  }

  &__left, &__middle, &__right {
    display: block;
    height:100%;
  }

  &__left {
  }
  &__middle {
    flex: 1;
  }
  &__right {
    float:right;
  }


  &__logo {
    width: 200px;
    background: red;
  }
  //
  &__search {
    position: relative;
    width: 250px;
    box-sizing: border-box;
    display: inline-flex;
    padding:11px;
    margin: 0 10px;
    border-left: 1px solid rgba(#2C2C2C, 0.1);
    button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .fa {
      position: absolute;
      top: 25px;
      right: 20px;
      //transform: translateY(-50%);
      color: $black;
    }
  }
}