$padding: 20px;

.grid {
  margin: 0 0 $padding 0;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  &--padding {
    padding: $padding 0 $padding $padding;
    [class*='col-']:last-of-type {
      padding-right: $padding;
    }
  }
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
  .grid &:last-of-type {
    padding-right: 0;
  }
}

.col {

  &-2-3 {
    width: 66.66%;
  }
  &-1-3 {
    width: 33.33%;
  }
  &-1-4 {
    width: 25%;
  }
  &-1-5 {
    width: 18%;
  }
  &-1-2 {
    width: 50%;
  }
  &-1-8 {
    width: 12.5%;
  }
}