
.input {
  border: 0;
  width: 100%;
  padding: 8px 10px 8px 20px;
  background: rgba(#f0f0f0, 0.1);
  border-color: $white;
  border-radius: 3px;
  position: relative;
  transition: all 0.4s ease-in-out;
  outline: none;
  &:focus {
    background: rgba(#f0f0f0, 0.5);
  }
}