.guide-menu {
  position: fixed;
  top: 0; // App will calculate the distance from top
  left: 0;
  width: 250px; // This should possibly have modifiers which modifies the width of the menu
  box-sizing: border-box;
  background: $grey;
  border-right: 1px solid $dark-grey;
  z-index:2;

  &__top-level, &__links {
    list-style: none;
    padding:0;
  }

  &__top-level {
    //padding: 0 2em;
  }

  &__section {
    position: relative;
  }

  &__toggleBtn {
    position: absolute;
    top: 4px;
    right: 30px;
    cursor: pointer;
    > i {
      color: $mine-shaft;
      font-size: 10px;
    }
  }

  &__accordion {
    max-height:0;
    overflow: hidden;
    transition: all 250ms ease-in-out;
    &.active {
      max-height: 1000px;
    }
  }

  &__header {
    position: relative;
    padding: 0 20px;
  }

  &__heading {
    display: block;
    color: $mine-shaft;
    box-shadow: 0 1px 0 0 $dark-grey;
  }

  &__links {
    //padding: 0 20px;
  }

  &__link {
    text-transform: capitalize;
    text-decoration: none;
    color: $mine-shaft;
    display: block;
    padding: .3em 2.5em;
    transition: all 250ms ease-in-out;
    &:hover, &.active {
      background: $dark-grey;
      color: $black;
      }
  }

}